
@{
  Layout = "_Layout";
}

@model UniReg.Models.Course

<h1>Edit</h1>

<h4>Edit this course: @Html.DisplayFor(model => model.CourseName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)

  @Html.LabelFor(model => model.CourseName)
  @Html.EditorFor(model => model.CourseName)

  <input type="submit" value="Save" class="button-53"/>
}
<p>@Html.ActionLink("Back to list", "Index")</p>