@{
  Layout = "_Layout";
}

@model UniReg.Models.Student

<h1>Add a new student</h1>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.StudentName)
    @Html.TextBoxFor(model => model.StudentName)
    <br>
    @Html.Label("Select course")
    <br>
    @Html.DropDownList("CourseId")
    <br>
    @Html.TextBoxFor(model => model.EnrollmentDate, "{0:d MMM yyyy}", new { @class="input-large", type = "datetime-local" })
    <br>
    <input type="submit" value="Add new student" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all students", "Index")</p>