@{
  Layout = "_Layout";
}

@model UniReg.Models.Student

<h2>Student Details</h2>
<hr />
<h3>Student Name: @Html.DisplayFor(model => model.StudentName)</h3>
<h3>Enrolled on: @Html.DisplayFor(model => model.EnrollmentDate)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This student does not belong to any courses</p>
}
else
{
  <h4>Courses the student signed up for:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Course.CourseName</li>
    @using (Html.BeginForm("DeleteCourse", "Students"))
    {
      @Html.Hidden("joinId", @join.AttendanceId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
  <h4>Would you like to add another course?</h4>
  <p>@Html.ActionLink("Add a course", "AddCourse", new { id = Model.StudentId })</p>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>